<!--첫번째 아티클-->
<div class="article" style="margin-top: 45px">
  <div class="article_nav">
    <img class="article_nav_pic" src="<%= image_path("khufun.png") %>">
    <div class="article_nav_title">
        KHUfun
    </div>
  </div>
  <div class="article_pic_div">
      
        <div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-wrap="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
    
          <div class="item active">
            <img src="<%= image_path("howtouse.png") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
    
          <div class="item">
            <img src="<%= image_path("wish.png") %>" alt="Chicago" style="width:100%;">
            
          </div>
        
          <div class="item">
            <img src="<%= image_path("forkhufun.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <!--<div class="item">-->
            <!--<div id="map"></div>-->
          <!--</div>-->
        </div>
    
        <!-- Left and right controls -->
        
      </div>
    
      
      <!--<img>-->
  </div>
  <div class="article_tool">
      
    <!-- Button trigger modal -->
    <button type="button" style="padding:0" class="btn_for_modal btn btn-lg" data-toggle="modal" data-target="#myModal_1">
      <img class="article_tool_info_image" src="<%= image_path("madeby.png") %>">
      <!--type="button" data-toggle="modal" data-target="#myModal_1">-->
    </button>
    
      
    
    <!-- Modal -->
    <div class="modal fade" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header article_nav">
            
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <img class="article_nav_pic" src="<%= image_path("khufun.png") %>">
        
            <div class="article_nav_title">
                만든 녀석들
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
          </div>
          <div class="modal-body" style="padding-left: 0; padding-right: 0">
            <div class="madeby">
              <div class="modal_madeby_div">
                <img class="modal_madeby_image" src="<%= image_path("ho_square.jpg") %>">
                <p style="text-align:center">경영학과 11학번 이호천</p>
              </div>
              <div class="modal_madeby_div">
                <img class="modal_madeby_image" src="<%= image_path("joon_square.jpg") %>">
                <p style="text-align:center">경제학과 13학번 최준혁</p>
              </div>
            </div>
            <hr>
                
            <div class="share_wrapper">
              <button id="kakao_khufun_share" style="margin-bottom: 15px" align="center" type="button" class="btn btn_for_share">좋은것은 알립시다!! &nbsp <img style="height:20px" src="<%= image_path("share.png") %>"></button>
            </div>
              <p style="text-align:center">저희와 함께해주실 점주님들은 언제든지 hochun0122@naver.com으로 연락주세요~</p>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  <hr class="article_tool_hr">
  <div class="article_info">
    <p style="font-size:20px"><strong>만든 녀석들 say</strong></p>

      <span>
        <!--<div style="d">-->
          <img class="article_nav_pic" src="<%= image_path("ho_square.jpg") %>">
        <!--</div>-->
      </span>
      <span>
        <!--<div>-->
          <i class="fa fa-quote-left" aria-hidden="true"></i>
            학우동무들 잘 사용해주시구 후기 이메일로 남겨주시면 적극 반영하겠슴당!
          <i class="fa fa-quote-right" aria-hidden="true"></i>
        <!--</div>-->
      </span><br>
      <sapn>
        <img class="article_nav_pic" src="<%= image_path("joon_square.jpg") %>">
      </sapn>
      <sapn>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
          고깃집도 섭외하고 싶다...
        <i class="fa fa-quote-right" aria-hidden="true"></i><br>
      </sapn>
  </div>
</div>

<!--두번째 아티클-->

<div class="article">
  <div class="article_nav">
    <div class="article_nav_pic">
      <img class="article_nav_pic" src="<%= image_path("rastar.jpg") %>">
    </div>
    <div class="article_nav_title">
        라스타
    </div>
  </div>
  <div class="article_pic_div">
      
        <div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-wrap="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="vertical-align: middle;">
          <div class="item active">
            <img src="<%= image_path("rastar_0.jpg") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("rastar_1.png") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("rastar_2.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("rastar_3.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("rastar_menu.jpg") %>" alt="New York" style="width:100%;">
            
          </div>
          
          <div class="item">
            <img src="<%= image_path("rastar_menu2.jpg") %>" alt="New York" style="width:100%;">
            
          </div>
          
          <div class="item">
            <img src="<%= image_path("map_rastar.png") %>" alt="New York" style="width:100%;">
          </div>
          
        
          

        </div>
    
        <!-- Left and right controls -->
        
      </div>
    
      
      <!--<img>-->
  </div>
  <div class="article_tool">
      
    <!-- Button trigger modal -->
    <button type="button" style="padding:0" class="btn_for_modal btn btn-lg" data-toggle="modal" data-target="#myModal_2">
      <img class="article_tool_info_image" src="<%= image_path("getcoupon.png") %>">
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header article_nav">
            
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <div class="article_nav_pic">
              <img class="article_nav_pic" src="<%= image_path("rastar.jpg") %>">
            </div>
            <div class="article_nav_title">
                라스타
            </div>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
          </div>
          <div class="modal-body">
            
            <img src="<%= image_path("coupon_rastar1.png") %>" style="width: 100%">
            <img src="<%= image_path("coupon_rastar2.png") %>" style="width: 100%">
            <img src="<%= image_path("coupon_rastar3.png") %>" style="width: 100%">
            
            
            
          </div>
          <div class="share_wrapper">
            <button id="kakao_rastar_share" style="margin-bottom: 15px" type="button" class="btn btn_for_share">라스타 가티가장 &nbsp <img style="height:20px" src="<%= image_path("share.png") %>"></button>  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <hr class="article_tool_hr">
  <div class="article_info">
    <p style="font-size:20px"><strong>만든 녀석들 say</strong></p>
    <i class="fa fa-quote-left" aria-hidden="true"></i>
      라면 덕후라면... <br>그리고 참고로 라면 말고 다른거도 많이 맛있다. 떡볶이, 박스밥들도 맛있다.<br> 또한 사장님이 너무 훈훈하다.<br>우리들끼리 비밀인데.. 나 남잔데 반할뻔했다..
    <i class="fa fa-quote-right" aria-hidden="true"></i>
  </div>
</div>

<!--세번째 아티클-->


<div class="article">
  <div class="article_nav">
    <div class="article_nav_pic">
      <img class="article_nav_pic" src="<%= image_path("hotdog.png") %>">
    </div>
    <div class="article_nav_title">
        쏭스핫도그
    </div>
  </div>
  <div class="article_pic_div">
      
        <div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-wrap="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
    
          <div class="item active">
            <img src="<%= image_path("hotdog_0.jpg") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
    
          <div class="item">
            <img src="<%= image_path("hotdog_1.png") %>" alt="Chicago" style="width:100%;">
            
          </div>
        
          <div class="item">
            <img src="<%= image_path("hotdog_2.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("hotdog_3.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("map_hotdog.png") %>" alt="New York" style="width:100%;">
          </div>
        </div>
    
        <!-- Left and right controls -->
        
      </div>
    
    
      <!--<img>-->
  </div>
  <div class="article_tool">
      
    <!-- Button trigger modal -->
    <button type="button" style="padding:0" class="btn_for_modal btn btn-lg" data-toggle="modal" data-target="#myModal_3">
      <img class="article_tool_info_image" src="<%= image_path("getcoupon.png") %>">
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header article_nav">
            
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <div class="article_nav_pic">
              <img class="article_nav_pic" src="<%= image_path("hotdog.png") %>" style="width: 100%">
            </div>
            <div class="article_nav_title">
                쏭스핫도그
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
          </div>
          <div class="modal-body">
            
            <img src="<%= image_path("coupon_hotdog1.png") %>" style="width: 100%">
          </div>
          <div class="share_wrapper">
            <button id="kakao_songs_share" style="margin-bottom: 15px" type="button" class="btn btn_for_share">쏭스핫 가티가장 &nbsp <img style="height:20px" src="<%= image_path("share.png") %>"></button>  
          </div>  
        </div>
      </div>
    </div>
    
  </div>
  <hr class="article_tool_hr">
  <div class="article_info">
    <p style="font-size:20px"><strong>만든 녀석들 say</strong></p>
    <i class="fa fa-quote-left" aria-hidden="true"></i>
      '타 경쟁 핫도그 사장님이 맛을 인정했다'고 사장님께서 <br>말하셨다. 딸기쨈이랑 핫도그가 생각보다 잘 어울린다
    <i class="fa fa-quote-right" aria-hidden="true"></i>
  </div>
</div>

<!--네번째 아티클-->


<div class="article">
  <div class="article_nav">
    <div class="article_nav_pic">
      <img class="article_nav_pic" src="<%= image_path("starcafe.png") %>">
    </div>
    <div class="article_nav_title">
        별다방미스리
    </div>
  </div>
  <div class="article_pic_div">
      
        <div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-wrap="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
    
          <div class="item active">
            <img src="<%= image_path("starcafe_0.png") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("starcafe_1.png") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
    
          <div class="item">
            <img src="<%= image_path("starcafe_2.png") %>" alt="Chicago" style="width:100%;">
            
          </div>
        
          <div class="item">
            <img src="<%= image_path("starcafe_3.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("starcafe_4.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("map_starcafe.png") %>" alt="New York" style="width:100%;">
          </div>
        </div>
    
        <!-- Left and right controls -->
        
      </div>
    
      
      <!--<img>-->
  </div>
  <div class="article_tool">
      
    <!-- Button trigger modal -->
    <button type="button" style="padding:0" class="btn_for_modal btn btn-lg" data-toggle="modal" data-target="#myModal_4">
      <img class="article_tool_info_image" src="<%= image_path("getcoupon.png") %>">
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header article_nav">
            
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <div class="article_nav_pic">
              <img class="article_nav_pic" src="<%= image_path("starcafe.png") %>">
            </div>
            <div class="article_nav_title">
                별다방미스리
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
          </div>
          <div class="modal-body">
            
            <img src="<%= image_path("coupon_starcafe.png") %>" style="width: 100%">
          </div>
          <div class="share_wrapper">
            <button id="kakao_star_share" style="margin-bottom: 15px" type="button" class="btn btn_for_share">별다방 가티가장 &nbsp <img style="height:20px" src="<%= image_path("share.png") %>"></button>  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <hr class="article_tool_hr">
  <div class="article_info">
    <p style="font-size:20px"><strong>만든 녀석들 say</strong></p>
    <i class="fa fa-quote-left" aria-hidden="true"></i>
      노란 건물에 있는데, 손님이 많다<br> 음료 Takeout 시 1000원 할인, 엄마 같은 사장님!
    <i class="fa fa-quote-right" aria-hidden="true"></i>
  </div>
</div>

<!--다섯번째-->


<div class="article">
  <div class="article_nav">
    <div class="article_nav_pic">
      <img class="article_nav_pic" src="<%= image_path("minipub.jpg") %>">
    </div>
    <div class="article_nav_title">
        미니펍
    </div>
  </div>
  <div class="article_pic_div">
      
        <div id="myCarousel" class="carousel slide myCarousel" data-interval="false" data-wrap="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="<%= image_path("minipub_0.jpg") %>" alt="Los Angeles" style="width:100%;">
            
          </div>    
          <div class="item">
            <img src="<%= image_path("minipub_2.png") %>" alt="Los Angeles" style="width:100%;">
            
          </div>
    
          <div class="item">
            <img src="<%= image_path("minipub_3.png") %>" alt="Chicago" style="width:100%;">
            
          </div>
        
          <div class="item">
            <img src="<%= image_path("minipub_1.png") %>" alt="New York" style="width:100%;">
            
          </div>
          <div class="item">
            <img src="<%= image_path("map_minipub.png") %>" alt="New York" style="width:100%;">
          </div>
        </div>
    
        <!-- Left and right controls -->
        
      </div>
    
      
      <!--<img>-->
  </div>
  <div class="article_tool">
      
    <!-- Button trigger modal -->
    <button type="button" style="padding:0" class="btn_for_modal btn btn-lg" data-toggle="modal" data-target="#myModal_5">
      <img class="article_tool_info_image" src="<%= image_path("getcoupon.png") %>">
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal_5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header article_nav">
            
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
            <div class="article_nav_pic">
              <img class="article_nav_pic" src="<%= image_path("minipub.jpg") %>">
            </div>
            <div class="article_nav_title">
                미니펍
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
          </div>
          <div class="modal-body">
            <img src="<%= image_path("coupon_minipub.png") %>" style="width: 100%">
          </div>
          <div class="share_wrapper">
            <button id="kakao_mini_share" style="margin-bottom: 15px" type="button" class="btn btn_for_share">미니펍 가티가장 &nbsp <img style="height:20px" src="<%= image_path("share.png") %>"></button>  
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <hr class="article_tool_hr">
  <div class="article_info">
    <p style="font-size:20px"><strong>만든 녀석들 say</strong></p>
    <i class="fa fa-quote-left" aria-hidden="true"></i>
      맛있는 안주와 좋은 분위기.<br> 가성비 흘러넘치는 꿀이 넘쳐 흐르는 곳.<br> 사장님느님의 통큰 주류 1+1 결정에 감탄했습니다.. 사장님 좋아요...
    <i class="fa fa-quote-right" aria-hidden="true"></i>
  </div>
</div>


<script>
    $(document).ready(function(){
        $(".myCarousel").swiperight(function() {  
        		$(this).carousel('prev');  
    	    });  
    		$(".myCarousel").swipeleft(function() {  
    		    $(this).carousel('next');  
          });
        // 쿠펀 공유
        
        Kakao.init('68468d23953477e2a7f428027bfbb997');
        Kakao.Link.createTalkLinkButton({
            container: '#kakao_khufun_share',
            label: '경희대학생 모두 쿠펀!!',
            image: {
                src: 'http://mblogthumb4.phinf.naver.net/20150117_299/jj82847_1421453837396xpF1H_JPEG/2015-01-17_08%3B49%3B56.jpg?type=w2',
                width: '300',
                height: '400'
            },
            webButton: {
                text: '쿠폰받으러 고고!',
                url: 'https://khufun-hochunnn.c9users.io/'
            }
        });
        
        // 라스타 공유
        
        Kakao.Link.createTalkLinkButton({
            container: '#kakao_rastar_share',
            label: '경희대학생 모두 쿠펀!!',
            image: {
                src: 'http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c120.0.720.720/12724967_1768844316681790_1731749377_n.jpg?ig_cache_key=MTIxODUxMzAxNTEwMDg3NjM4MA%3D%3D.2.c',
                width: '300',
                height: '300'
            },
            webButton: {
                text: '라면먹으러 갈래?',
                url: 'https://khufun-hochunnn.c9users.io/'
            }
        });
        
        // 쏭스핫도그 공유 
        Kakao.Link.createTalkLinkButton({
            container: '#kakao_songs_share',
            label: '경희대학생 모두 쿠펀!!',
            image: {
                src: 'http://scontent.cdninstagram.com/t51.2885-15/s480x480/e35/c0.134.1080.1080/15043967_688172121337693_1342963632677322752_n.jpg?ig_cache_key=MTM4NjE1MDEwNjU3MDU2Nzc5NA%3D%3D.2.c',
                width: '300',
                height: '300'
            },
            webButton: {
                text: '핫도그 먹으러 갈래?',
                url: 'https://khufun-hochunnn.c9users.io/'
            }
        });
        
        // 별다방
        
        Kakao.Link.createTalkLinkButton({
            container: '#kakao_star_share',
            label: '경희대학생 모두 쿠펀!!',
            image: {
                src: 'http://cfile219.uf.daum.net/image/2068E1104A12130B534A15',
                width: '400',
                height: '300'
            },
            webButton: {
                text: '도시락 먹으러 갈래?',
                url: 'https://khufun-hochunnn.c9users.io/'
            }
        });
        
        // 미니펍
        Kakao.Link.createTalkLinkButton({
            container: '#kakao_mini_share',
            label: '경희대학생 모두 쿠펀!!',
            image: {
                src: 'http://post.phinf.naver.net/MjAxNzAyMjFfMjk0/MDAxNDg3NjUyMTQ3NDc2.52jzHwgpxD6lZPSETBII6aEXapMgHblzO-onMnQoEQ0g.diTGH4olIuK4awg7wAu3Udc6T5cVWQHvvxEIDIbgSiEg.JPEG/%EB%AF%B8%EB%8B%88%ED%8E%8D%EC%83%98%ED%94%8C%EB%9F%AC.JPG?type=w1200',
                width: '400',
                height: '300'
            },
            webButton: {
                text: '맥주 먹으러 갈래?',
                url: 'https://khufun-hochunnn.c9users.io/'
            }
        });
    })
   
</script>
<!--</body>-->